{% extends 'system/base.html.twig' %}

{% block content %}
<section id="content">
    <div class="container">
    {% for item in users %}
        <div class="row mt-2">
            <div class="col-lg-2">{{ item.id }}</div>
            <div class="col-lg-3">{{ item.email }}</div>
            <div class="col-lg-2">{{ item.name }}</div>
            <div class="col-lg-3">
                <a href="{{ path('admin_user_define', {id:item.id}) }}" class="btn btn-warning btn-sm">Definir Controlador</a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

